{%extends 'user_base.html'%}
{% load static %}
{% block body %}
<style>
    .btn-info {
    --bs-btn-color: #000;
    --bs-btn-bg: #0d6efd;
    --bs-btn-border-color: #0dcaf0;
    --bs-btn-hover-color: #000;
    --bs-btn-hover-bg: #31d2f2;
    --bs-btn-hover-border-color: #25cff2;
    --bs-btn-focus-shadow-rgb: 11,172,204;
    --bs-btn-active-color: #000;
    --bs-btn-active-bg: #3dd5f3;
    --bs-btn-active-border-color: #25cff2;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #000;
    --bs-btn-disabled-bg: #0dcaf0;
    --bs-btn-disabled-border-color: #0dcaf0;
</style>
<center>
        <h4  class="mt-5" style="font-weight:bold">Change Password</h4><br>

    <table class="table table-hover">
    <form role="form" name="frm" action="{% url 'user_changepassword' %}" method="post">
            {% csrf_token %}
        <tbody>
    <tr>
        <td> Old Password</td>
      <td><input class="form-control" style="width:500px;" type="password"  name="current_password" ></td>
    </tr>
     <tr>

      <td>New Password</td>
      <td><input class="form-control" style="width:500px;" type="password"
                 name="new_password" ></td>
    </tr>
              </tbody>

</table>
<br>
            <button type="submit" class="btn btn-info" id="bt" name="bt">Update</button>
            <button type="reset" class="btn btn-info" id="rt" name="rt">Reset</button>

        </form>
        {{msg}}
        </div>
</center>
{% endblock %}
</body>
</html>





