{% extends 'admin_base.html' %}
{% load static %}
{% block title %}Plan Settings Add{% endblock %}
{% block background %}background="https://images.pexels.com/photos/6238608/pexels-photo-6238608.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" {% endblock %}
{% block body %}
{% comment %} <center> {% endcomment %}
    <h1>Category Add</h1>
     <div class="container">
         <form role="form" name="frm" action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group mt-3">
            <label for="plan_type">Category :</label>
            <input class="form-control" type="text" name="name" id="plan_type" value="" required>
        </div>
        <div class="form-group mt-3">

            <label for="plan_type">Image :</label>
            <input class="form-control" type="File" name="image" id="plan_type" value="" required>
        </div>
       <button type="submit" class="btn btn-primary mt-2" id="bt" name="bt">Add</button>
        <button type="reset" class="btn btn-danger mt-2" id="rt" name="rt">Clear</button>
    </form>
     </div>
    <h3>{{msg}}</h3>
{% comment %} </center> {% endcomment %}
{% endblock %}