{% extends 'admin_base.html' %}
{% load static %}
{% block title %}Plan Settings Details{% endblock %}
{% block background %}background="https://images.pexels.com/photos/6238608/pexels-photo-6238608.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" {% endblock %}
{% block body %}
<link href="https://vjs.zencdn.net/8.0.4/video-js.css" rel="stylesheet" />
<center class="container bg-light">
          <h2>User Details</h2>
          <table class="table table-hover">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Reg No.</th>
                        <th scope="col">Email</th>
                        <th scope="col">Watchlist</th>
                      </tr>
                    </thead>
                    <tbody>
                    {%for ud in userData %}
                      <tr>
                        <th scope="row"> {{forloop.counter}} </th>
                        <td>{{ud.first_name}} {{ud.last_name}}</td>
                        <td>{{ud.reg_no}}</td>
                        <td>{{ud.email}}</td>
                        <td><a href="/admin_panel/view_watchlist/{{ud.id}}" class="btn btn-info" role="button">View watchlist</a></td>
                      </tr>
                      {%endfor%}
                    </tbody>
                  </table>
</center>
{% endblock %}
